<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <!--
        Base logback configuration provided for compatibility with Spring Boot 1.1
    -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%.-1level|JPA|%-30.30logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.nixmash.springdata" level="info"/>

    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>

    <logger name="ch.qos.logback" level="WARN"/>

    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>

    <logger name="com.zaxxer" level="WARN"/> <!--HicariCP Pool log-->
    <logger name="net.sf.ehcache" level="WARN"/>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistenceProvider" level="OFF"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>

    <logger name="org.thymeleaf" level="info"/>
    <logger name="org.hibernate" level="off"/>

    <logger name="com.nixmash.springdata.solr" level="ERROR"/>

    <!--<include resource="logJpaToFile.xml" />-->

    <root level="ERROR">
        <appender-ref ref="console"/>
    </root>

    <root level="#logback.loglevel#">
        <!-- For Console Log -->
        <appender-ref ref="CONSOLE"/>
        <!-- For File Log -->
        <!--<appender-ref ref="FILE"/>-->
    </root>
</configuration>
